body {
  margin-top: 50px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.product {
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  width: 200px;
  margin-right: 10px;
}

.product p {
  margin: 0;
}

.product span {
  font-style: italic;
  color: #9d9d9d;
}
